{% extends "base.twig" %}

{% block title %}{{ article.headline }} - {% endblock %}

{% block head %}
    {{ parent() }}
    <link href="../../assets/css/lightbox.css" rel="stylesheet"/>
    <script src="../../assets/js/trackVisits.js" type="text/javascript"></script>
    <script src="../../assets/js/spoiler.js" type="text/javascript"></script>
    <script src="../../assets/js/lightbox.js" type="text/javascript"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
{% endblock %}

{% block mainContent %}
    {% if article.editable or username == article.createdBy.username %}
        <div class="articleEdit">
            <a href="/article/editParagraphs?name={{ article.headline }}" title="Artikelinhalte anpassen"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="/article/editInfo?name={{ article.headline }}" title="Steckbrief anlegen/bearbeiten"><i class="fa-solid fa-list"></i></a>
            <a href="/article/edit?name={{ article.headline }}" title="Artikel bearbeiten"><i class="fa-solid fa-gear"></i></a>
        </div>
    {% endif %}
    <h1>{{ article.headline }}</h1>
    <div class="articleContent">
        <div class="mainArticleContent">
            <div class="articleInfo">
                <div class="lists">
                    {% for list in article.lists.__serialize %}
                        <div class="list">
                            <h6>{{ list.name }}</h6>
                            <ul>
                                {% for element in list.elements.__serailize %}
                                    <li><a href="/article?name={{ element.article.headline }}">{{ element.article.headline }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% set info = article.info %}
                {% if info != null %}
                    <div class="info">
                        {% set infoContents = info.Content %}
                        <table>
                            <tr>
                                <th colspan="2"><h3>{{ info.headline }}</h3></th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="gallery">
                                        {% for image in info.Gallery.__serialize %}
                                            <figure {% if info.Gallery.__serialize|length == 1 %}class="solo"{% endif %}>
                                                <a href="{{ encodeImg(image.img) }}" data-lightbox="articleInfo" data-title="{{ image.figcaption }}">
                                                    <img src="{{ encodeImg(image.img) }}" alt="{{ image.figcaption }}">
                                                </a>
                                                <figcaption>{{ image.figcaption }}</figcaption>
                                            </figure>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            {% for headline in info.ContentHeadlines %}
                                <tr>
                                    <td colspan="2"><h5>{{ headline }}</h5></td>
                                </tr>
                                {% for content in infoContents.__serialize %}
                                    {% if content.headline == headline %}
                                        <tr>
                                            <td>{{ content.topic }}</td>
                                            <td>{{ content.content }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
            {% for paragraph in article.paragraphs.__serialize %}
                <div id="{{ paragraph.headline }}" class="paragraph {% if paragraph.sequence == 1 %}introduction{% endif %}">
                    {% if paragraph.sequence != 1 %}
                        <h2>{{ paragraph.headline }}</h2>
                    {% endif %}
                    {% for content in paragraph.contents.__serialize %}
                        <div class="paragraphContent">
                            {% if content.gallery %}
                                <div class="contentGallery">
                                {% for img in content.galleryImages.__serialize %}
                                    <figure>
                                        <a href="{{ img.img }}" data-lightbox="gallery{{ paragraph.sequence }}{{ content.sequence }}" data-title="{{ img.figcaption }}">
                                            <img src="{{ img.img }}" alt="{{ img.figcaption }}">
                                        </a>
                                        {% if img.figcaption != '' %}
                                            <figcaption>{{ img.figcaption }}</figcaption>
                                        {% endif %}
                                    </figure>
                                {% endfor %}
                                </div>
                            {% else %}
                                <div class="contentText">
                                    {% if content.img != null %}
                                        <figure>
                                            <a href="{{ content.img }}" data-lightbox="img{{ paragraph.sequence }}{{ content.sequence }}" data-title="{{ content.figcaption }}">
                                                <img src="{{ content.img }}" alt="{{ content.figcaption }}">
                                            </a>
                                            {% if content.figcaption != '' %}
                                                <figcaption>{{ content.figcaption }}</figcaption>
                                            {% endif %}
                                        </figure>
                                    {% endif %}
                                    {{ content.text|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if paragraph.sequence == 1 %}
                    <div class="register">
                        {% set i = 0 %}
                        {% for paragraph in article.paragraphs.__serialize %}
                            {% set j = 1 %}
                            {% if paragraph.headline != "" %}
                            <a class="level1" href="#{{ paragraph.headline }}">{{ i }}. {{ paragraph.headline }}</a>
                            {% endif %}
                            {% for content in paragraph.contents.__serialize %}
                                {% set k = 1 %}
                                {% for h3 in getContentHeadlines(content.text) %}
                                    <a class="level2" href="#{{ h3.id }}">{{ i }}.{{ j }}. {{ h3.headline|raw }}</a>
                                    {% for h4 in h3.h4s %}
                                        <a class="level3" href="#{{ h4.id }}">{{ i }}.{{ j }}.{{ k }}. {{ h4.headline|raw }}</a>
                                        {% set k = k + 1 %}
                                    {% endfor %}
                                {% set j = j + 1 %}
                                {% endfor %}
                            {% endfor %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block asideRight %}
    {% if loggedIn %}
        <ul>
            <li><b>Aufrufe:</b>{{ article.called }}</li>
            <li><b>Projekt:</b><a href="/project/detail?name={{ article.project.name }}">{{ article.project.name }}</a></li>
            <li><b>Kategorien:</b>
                <ul>
                    {% for category in article.categories.__serialize %}
                        <li><a href="/category/detail?name={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><b>Veröffentlicht:</b> {{ article.published|date("d.m.Y - H:i:s") }} Uhr</li>
            <li><b>Ersteller:</b> <a href="/profile?user={{ article.createdBy.username }}">{{ article.createdBy.username }}</a></li>
            {% if article.published|date("d.m.Y - H:i:s") != article.lastEdit|date("d.m.Y - H:i:s") %}
                <li><b>Letzte Änderung am Artikel:</b> {{ article.lastEdit|date("d.m.Y - H:i:s") }} Uhr</li>
                <li><b>Letzte Änderung am Artikel von:</b> <a href="/profile?user={{ article.lastEditBy.username }}">{{ article.lastEditBy.username }}</a></li>
            {% endif %}
            {% if article.paragraphs.__serialize[0] != null %}
                <li><b>Letzte Änderung am Inhalt:</b> {{ article.paragraphs.__serialize[0].lastEdit|date("d.m.Y - H:i:s") }} Uhr</li>
                <li><b>Letzte Änderung am Inhalt von:</b> <a href="/profile?user={{ article.paragraphs.__serialize[0].lastEditBy.username }}">{{ article.paragraphs.__serialize[0].lastEditBy.username }}</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}