{% extends "base.twig" %}

{% block title %}{{ article.headline }} - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/infoForm.js" type="module"></script>
{% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        {% if article.editable or wikiUser.id == article.lastEditBy.username %}
            <div class="articleEdit">
                <a href="/article/editParagraphs?name={{ article.headline }}" title="Artikelinhalte anpassen"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="/article/editInfo?name={{ article.headline }}" title="Steckbrief anlegen/bearbeiten"><i class="fa-solid fa-list"></i></a>
                <a href="/article/edit?name={{ article.headline }}" title="Artikel bearbeiten"><i class="fa-solid fa-gear"></i></a>
            </div>
        {% endif %}
        <h1>{{ article.headline }}</h1>
        <h2>Informationstabelle anlegen</h2>
        <form id="editInfo" method="post" action="/article/saveInfo">
            <label>Überschrift der Informationstabelle
                <input name="mainHeadline" maxlength="300" value="{{ article.info.headline }}" required>
                <span class="maxLength">300</span>
            </label>
            <div class="infoGallery">
                <div>
                    <label class="button">
                        <i class="fa-solid fa-upload"></i>Bild-Upload
                        <input type="file" name="gallery" class="galleryUpload" multiple accept=".gif, .jpg, .jpeg, .png, .svg, .webp">
                        <span class="info">Die Dateien müssen eine .gif, .jpg, .jpeg, .png, .svg oder .webp Datei sein und dürfen jeweils maximal 1 MB groß sein.</span>
                        <span class="errorContainer">
                            <span class="error fileSize {% if errorFileSize != true %}hide{% endif %}">Diese Dateien sind zu groß.</span>
                            <span class="error fileType {% if errorFileType != true %}hide{% endif %}">Falscher Dateityp.</span>
                        </span>
                    </label>
                    <div class="uploads">
                        {% for img in article.info.gallery.__serialize %}
                            <div class="contentImage">
                                <div>
                                    <img src="{{ encodeImg(img.img) }}" alt="Bild{{ img.sequence }}" width="100">
                                    <label>Bildunterschrift
                                        <input name="pcfigcaption[]" type="text" value="{{ img.figcaption }}" maxlength="500" class="withModal">
                                        <button type="button" class="openModal" title="Link hinzufügen"><i class="fa-solid fa-link"></i></button>
                                        <span class="maxLength">500</span>
                                    </label>
                                </div>
                                {{ include("controlButtons.twig") }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tables">
                {% set i = 1 %}
                {% for headline in article.info.contentHeadlines %}
                    <div class="infoTable" data-position="{{ i }}">
                        <div>
                            <label>Überschrift des Abschnitts
                                <input name="tableHeadline[]" maxlength="300" required value="{{ headline }}">
                                <span class="maxLength">300</span>
                            </label>
                            <div class="rows">
                                {% for infoContent in article.info.content.__serialize %}
                                    {% if infoContent.headline == headline %}
                                        <div class="infoTableRow">
                                            <div>
                                                <label>
                                                    <input name="rowTopic{{ i }}[]" class="withModal" maxlength="300" value="{{ infoContent.topic }}">
                                                    <button type="button" class="openModal" title="Link hinzufügen"><i class="fa-solid fa-link"></i></button>
                                                    <span class="maxLength">300</span>
                                                </label>
                                                <label>
                                                    <textarea name="rowInfo{{ i }}[]" class="withModal" maxlength="1000" value="{{ infoContent.content }}">{{ infoContent.content }}</textarea>
                                                    <button type="button" class="openModal" title="Link hinzufügen"><i class="fa-solid fa-link"></i></button>
                                                    <span class="maxLength">1000</span>
                                                </label>
                                            </div>
                                            {{ include("controlButtons.twig") }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="rowButtons">
                                <button type="button" class="newRow button">+<br/>Neue Reihe/n hinzufügen</button>
                                <label>Anzahl neuer Reihen
                                    <input type="number" value="1">
                                </label>
                            </div>
                        </div>
                        {{ include("controlButtons.twig") }}
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
            <button type="button" class="newTable button">+<br/>Neuen Tabellenabschnitt hinzufügen</button>
            <input name="name" type="hidden" value="{{ article.headline }}">
            <input name="images" type="hidden">
            <input class="button" type="submit" value="Inhalte speichern" name="submit" form="editInfo">
        </form>
        {{ include("linkModal.twig") }}
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}