{% extends "base.twig" %}

{% block title %}Neue Kategorie - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/categoryForm.js" type="module"></script>
{% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        <h1>Eine neue Kategorie erstellen</h1>
        {% if categoryError %}
            <h4 class="error">Bei der Erstellung der Kategorie ist ein Fehler aufgetreten! Bitte vergewissere dich, dass alle nötigen Felder korrekt ausgefüllt wurden.</h4>
        {% endif %}
        <form method="post" action="/category/save" id="createCategory" enctype="multipart/form-data">
            <label>Name der Kategorie*
                <input name="name" maxlength="150" required value="{{ name }}">
                <span class="error exists hide">Eine Kategorie mit diesem Namen existiert bereits!</span>
                <span class="maxLength">150</span>
            </label>
            <label>Kurze Beschreibung
                <textarea name="description" maxlength="1000">{{ desc }}</textarea>
                <span class="maxLength">1000</span>
            </label>
            <label class="button"><i class="fa-solid fa-upload"></i>Upload für Kategorie-Icon
                <input type="file" name="fileUpload" accept="image/svg+xml">
                <span class="selected-file"></span>
                <span class="info">Die Datei muss ein SVG sein und darf maximal 20 KB groß sein.</span>
                <span class="errorContainer">
                    <span class="error fileSize {% if errorFileSize != true %}hide{% endif %}">Die Datei ist zu groß.</span>
                    <span class="error fileType {% if errorFileType != true %}hide{% endif %}">Falscher Dateityp.</span>
                </span>
            </label>
            <fieldset class="infoTemplate">
                <legend>Infobox-Vorlage</legend>
                <p class="info">Felder, die neue Artikel dieser Kategorie automatisch in der Infobox erhalten (z.B. Gruppe „Allgemeines", Feld „Geburtstag"). Die Werte werden später im Artikel ausgefüllt.</p>
                <div class="templateRows">
                    {% if template is defined and template is not null %}
                        {% for row in template.__serialize %}
                            <div class="templateRow">
                                <div>
                                    <label>Gruppe/Abschnitt
                                        <input name="templateGroup[]" maxlength="300" value="{{ row.headline }}">
                                    </label>
                                    <label>Feldname
                                        <input name="templateTopic[]" maxlength="300" value="{{ row.topic }}">
                                    </label>
                                </div>
                                <div class="controlButtons">
                                    <button type="button" class="moveUp" title="Nach oben"><i class="fa-solid fa-caret-up"></i></button>
                                    <button type="button" class="delete" title="Feld entfernen"><i class="fa-solid fa-xmark"></i></button>
                                    <button type="button" class="moveDown" title="Nach unten"><i class="fa-solid fa-caret-down"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="newTemplateRow button">+<br/>Feld hinzufügen</button>
            </fieldset>
            <fieldset class="sectionTemplate">
                <legend>Abschnitts-Vorlage</legend>
                <p class="info">Abschnitte, die neue Artikel dieser Kategorie automatisch erhalten (z.B. „Kindheit", „Werdegang"). Der Text wird später im Artikel geschrieben.</p>
                <div class="sectionRows">
                    {% if sectionTemplate is defined and sectionTemplate is not null %}
                        {% for row in sectionTemplate.__serialize %}
                            <div class="sectionRow">
                                <div>
                                    <label>Abschnitts-Überschrift
                                        <input name="sectionHeadline[]" maxlength="300" value="{{ row.headline }}">
                                    </label>
                                </div>
                                <div class="controlButtons">
                                    <button type="button" class="moveUp" title="Nach oben"><i class="fa-solid fa-caret-up"></i></button>
                                    <button type="button" class="delete" title="Abschnitt entfernen"><i class="fa-solid fa-xmark"></i></button>
                                    <button type="button" class="moveDown" title="Nach unten"><i class="fa-solid fa-caret-down"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="newSectionRow button">+<br/>Abschnitt hinzufügen</button>
            </fieldset>
        </form>
        <input class="button" type="submit" value="Kategorie speichern" name="submit" form="createCategory">
        <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}