{% extends "base.twig" %}

{% block title %}Artikel erstellen - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/articleForm.js" type="module"></script>
{% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        <h1>Artikel erstellen</h1>
        {% if articleError %}
            <h4 class="error">Bei der Erstellung des Artikels ist ein Fehler aufgetreten! Bitte vergewissere dich, dass alle nötigen Felder korrekt ausgefüllt wurden.</h4>
        {% endif %}
        <form id="createArticle" method="post" action="/article/save" class="flex-50">
            <label>Überschrift des Artikels*
                <input name="headline" maxlength="300" value="{{ headline }}" required>
                <span class="error exists hide">Ein Artikel mit dieser Überschrift existiert bereits!</span>
                <span class="maxLength">300</span>
            </label>
            <label>Projekt*
                <input class="searchSelect" name="project" list="projects" value="{{ project }}">
                <datalist>
                    <option value="">-</option>
                    {% for project in projects %}
                        <option value="{{ project.name }}">{{ project.name }}</option>
                    {% endfor %}
                </datalist>
                <i class="fa-solid fa-chevron-down"></i>
                <span class="error notfound hide">Dieses Projekt existiert nicht!</span>
            </label>
            <label>Alternative Überschriften
                <textarea name="altHeadlines">{{ altHeadlines }}</textarea>
                <span class="errorContainer">
                    <span>Überschriften mit Kommata trennen!</span>
                    <span class="error exists hide">Diese Überschrift existiert bereits!</span>
                </span>
            </label>
            <label>Such-Tags
                <textarea name="tags">{{ tags }}</textarea>
                <span>Tags mit Kommata trennen!</span>
            </label>
            <fieldset class="checkbox required">Kategorien*
                {% for category in categories %}
                    <label>
                        <input type="checkbox" name="category[]"  value="{{ category.id }}" {% if category.id in categoryIds %}checked{% endif %}>
                        {{ category.name }}
                    </label>
                {% endfor %}
                <span class="error notChecked {% if categoryError == false %}hide{% endif %}">Es muss mindestens eine Kategorie gewählt werden!</span>
            </fieldset>
            <fieldset class="checkbox">
                <label>
                    <input type="checkbox" name="private" {% if private %}checked{% endif %}>
                    Dieser Artikel soll privat sein (Private Artikel können nur von dir gesehen und bearbeitet werden.)
                </label>
                <label>
                    <input type="checkbox" name="editable" {% if editable is not defined or editable %}checked{% endif %}>
                    Andere sollen diesen Artikel bearbeiten dürfen
                </label>
            </fieldset>
        </form>
        <input class="button" type="submit" value="Artikel speichern" name="submit" form="createArticle">
        <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}