{% extends "base.twig" %}

{% block title %}{{ project.name }} bearbeiten - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/projectForm.js" type="module"></script>
{% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        <h1>{{ project.name }} bearbeiten</h1>
        {% if projectError %}
            <h4 class="error">Bei der Bearbeitung des Projekts ist ein Fehler aufgetreten! Bitte vergewissere dich, dass alle nötigen Felder korrekt ausgefüllt wurden.</h4>
        {% endif %}
        <form method="post" action="/project/update" id="editProject" class="flex-50">
            <input type="hidden" name="id" value="{{ project.id }}">
            <label>Name des Projekts*
                <input name="name" maxlength="200" required value="{{ project.name }}">
                <span class="error exists hide">Eine Kategorie mit diesem Namen existiert bereits!</span>
                <span class="maxLength">200</span>
            </label>
            <label>Übergeordnetes Projekt
                <input class="searchSelect" name="parentProject" list="projects" value="{{ project.parentProject.name }}">
                <datalist>
                    <option value="">-</option>
                    {% for childProject in projects %}
                        <option value="{{ childProject.name }}">{{ childProject.name }}</option>
                    {% endfor %}
                </datalist>
                <i class="fa-solid fa-chevron-down"></i>
                <span class="error notfound hide">Dieses Projekt existiert nicht!</span>
            </label>
            <label class="fullwidth">Kurze Beschreibung
                <textarea name="description" maxlength="1000">{{ project.description }}</textarea>
                <span class="maxLength">1000</span>
            </label>
            <fieldset class="fullwidth">
                <label>
                    <input type="checkbox" name="private" value="private" {% if project.private %}checked{% endif %}>
                    Soll das Projekt privat sein? (Private Projekte und ihre Inhalte können nur von dir gesehen und bearbeitet werden.)
                </label>
                <fieldset class="fullwidth checkbox authorize hide">
                    <legend>Wähle weitere Nutzer, die dieses Projekt verwalten dürfen:</legend>
                    {% set authorizedIds = [] %}
                    {% for user in project.authorized.__serialize %}
                        {% set authorizedIds = authorizedIds|merge([user.id]) %}
                    {% endfor %}
                    {% for user in users.__serialize %}
                        <label>
                            <input type="checkbox" name="authorized[]" value="{{ user.id }}" {% if user.id in authorizedIds %}checked{% endif %}>{{ user.username }}
                        </label>
                    {% endfor %}
                </fieldset>
            </fieldset>
        </form>
        <input class="button" type="submit" value="Änderungen speichern" name="submit" form="editProject">
        <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}