{% extends "base.twig" %}

{% block title %}Willkommen - {% endblock %}

{% block mainContent %}
    <h1>Willkommen im Pen and Paper Wiki!</h1>
    <p>Hier findest du alles rund um die Welt des Pen and Paper-Systems "Das schwarze Auge" (DSA). Navigiere in einzelne Projekte, um in ihnen explizit nach Inhalten zu suchen. Wenn du dich registrierst und anmeldest kannst du auch selber Artikel erstellen oder öffentliche Artikel bearbeiten.</p>
    {% if loggedIn %}
        <div class="flex-50">
            <div class="popularProjects">
                <h2>Projekte</h2>
                <ul>
                    {% for project in projects.__serialize %}
                        <li>
                            <a href="/project?project={{ project.name }}">
                                <h3>{{ project.name }}</h3>
                                <p>Erstellt am {{ project.published|date("d.m.Y - H:i:s") }} von {{ project.createdBy.username }}</p>
                                <p>{{ project.description }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/project">Alle Projekte</a>
            </div>
            <div class="popularCategories">
                <h2>Kategorien</h2>
                <ul>
                    {% for category in categories.__serialize %}
                        <li>
                            <a href="/category?category={{ category.name }}">
                                <h3>{{ category.name }}</h3>
                                <p>Erstellt am {{ category.published|date("d.m.Y - H:i:s") }} von {{ category.createdBy.username }}</p>
                                <p>{{ category.description }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/categories">Alle Kategorien</a>
            </div>
            <div class="popularArticles">
                <h2>Beliebte Artikel</h2>
                <ul>
                    {% for article in popularArticles.__serialize %}
                        <li>
                            <a href="/article?name={{ article.headline }}">
                                <h3>{{ article.headline }}</h3>
                                <p>Erstellt am {{ article.published|date("d.m.Y - H:i:s") }} von {{ article.createdBy.username }}</p>
                                {{ article.paragraphs.offsetGet(0).contents.offsetGet(0).text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/article?filter=popular">Mehr beliebte Artikel</a>
            </div>
            <div class="newArticles">
                <h2>Neue Artikel</h2>
                <ul>
                    {% for article in newArticles.__serialize %}
                        <li>
                            <a href="/article?name={{ article.headline }}">
                                <h3>{{ article.headline }}</h3>
                                <p>Erstellt am {{ article.published|date("d.m.Y - H:i:s") }} von {{ article.createdBy.username }}</p>
                                {{ article.paragraphs.offsetGet(0).contents.offsetGet(0).text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/article?filter=new">Mehr Artikel</a>
            </div>
        </div>
    {% endif %}
{% endblock %}