{% extends "base.twig" %}

{% block title %}Willkommen - {% endblock %}

{% block mainContent %}
    <h1>Willkommen im Pen and Paper Wiki!</h1>
    <p>Hier findest du alles rund um die Welt des Pen and Paper-Systems DSA. Navigiere in einzelne Projekte, um in ihnen explizit nach Inhalten zu suchen. Wenn du dich registrierst und anmeldest kannst du auch selber Artikel erstellen oder öffentliche Artikel bearbeiten.</p>
    {% if loggedIn %}
        <div class="flex-50">
            <div class="popularProjects">
                <h2>Projekte</h2>
                <ul>
                    {% for project in projects.__serialize %}
                        <li>
                            <a class="noUnderline" href="/project/detail?name={{ project.name }}">
                                <h3>{{ project.name }}</h3>
                                <p>Erstellt am {{ project.published|date("d.m.Y - H:i:s") }} von {{ project.createdBy.username }}</p>
                                <p>{{ project.description }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/project">Alle Projekte</a>
            </div>
            <div class="popularCategories">
                <h2>Kategorien</h2>
                <ul>
                    {% for category in categories.__serialize %}
                        <li>
                            <a class="noUnderline" href="/category/detail?name={{ category.name }}">
                                <h3>{{ category.name }}</h3>
                                <p>Erstellt am {{ category.published|date("d.m.Y - H:i:s") }} von {{ category.createdBy.username }}</p>
                                <p>{{ category.description }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/category">Alle Kategorien</a>
            </div>
            <div class="popularArticles">
                <h2>Beliebte Artikel</h2>
                <ul>
                    {% for article in popularArticles.__serialize %}
                        <li>
                            <a class="noUnderline" href="/article?name={{ article.headline }}">
                                <h3>{{ article.headline }}</h3>
                                <p>Erstellt am {{ article.published|date("d.m.Y - H:i:s") }} von {{ article.createdBy.username }}</p>
                                <div class="firstLine">
                                    {{ article.paragraphs.offsetGet(0).contents.offsetGet(0).text|raw }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/article/list?filter=called&page=1">Mehr beliebte Artikel</a>
            </div>
            <div class="newArticles">
                <h2>Neue Artikel</h2>
                <ul>
                    {% for article in newArticles.__serialize %}
                        <li>
                            <a class="noUnderline" href="/article?name={{ article.headline }}">
                                <h3>{{ article.headline }}</h3>
                                <p>Erstellt am {{ article.published|date("d.m.Y - H:i:s") }} von {{ article.createdBy.username }}</p>
                                <div class="firstLine">
                                    {{ article.paragraphs.offsetGet(0).contents.offsetGet(0).text|raw }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/article/list?filter=published_new&page=1">Mehr Artikel</a>
            </div>
        </div>
    {% endif %}
{% endblock %}