<div data-position="{{ j }}">
    <div>
        <img src="{{ i }}" alt="Bild{{ j }}" width="100">
        <label>Bildunterschrift
                <input name="p{{ k }}c{{ l }}figcaption[]" type="text" maxlength="500">
                <span class="maxLength">500</span>
        </label>
    </div>
    {{ include("controlButtons.twig") }}
</div>