<div class="contentImage">
    <div>
        <img src="{{ i }}" alt="{{ l }}" width="100">
        <label>Bildunterschrift
                <input name="p{{ j }}c{{ k }}figcaption[]" type="text" maxlength="500" value="{{ m }}">
                <span class="maxLength">500</span>
        </label>
    </div>
    {{ include("controlButtons.twig") }}
</div>