<div class="infoTableRow">
    <div>
        <label>
            <input name="rowTopic{{ i }}[]" maxlength="300" value="{{ j }}">
            <span class="maxLength">300</span>
        </label>
        <label>
            <textarea name="rowInfo{{ i }}[]" maxlength="1000" value="{{ k }}"></textarea>
            <span class="maxLength">1000</span>
        </label>
    </div>
    {{ include("controlButtons.twig") }}
</div>