<div class="contentElement text" data-position="{{ i }}">
    <div>
        <label>Inhalt
            <textarea name="p{{ j }}c{{ i }}[]" class="tinymce"></textarea>
        </label>
        <label class="button">
            <i class="fa-solid fa-upload"></i>Bild-Upload
            <input type="file" name="textImg{{ i }}" class="imgUpload" accept=".gif, .jpg, .jpeg, .png, .svg, .webp">
            <span class="info">Die Datei muss eine .gif, .jpg, .jpeg, .png, .svg oder .webp Datei sein und darf maximal 1 MB groß sein.</span>
            <span class="errorContainer">
                <span class="error fileSize {% if errorFileSize != true %}hide{% endif %}">Die Datei ist zu groß.</span>
                <span class="error fileType {% if errorFileType != true %}hide{% endif %}">Falscher Dateityp.</span>
            </span>
        </label>
        <div class="upload"></div>
    </div>
    {{ include("controlButtons.twig") }}
</div>