{% extends "base.twig" %}

{% block title %}{{ project.name }} - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/deleteAlert.js" type="text/javascript"></script>
{% endblock %}

{% block mainContent %}
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <form id="searchInProject" class="search" method="post" action="">
        <label>
            <input type="search" name="search" placeholder="{{ project.name }} durchsuchen">
        </label>
        <label>
            <input type="submit" name="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
    </form>
    {% if loggedIn == true %}
        <a class="button" href="/project/edit?name={{ project.name }}">Projekt bearbeiten</a>
        <a class="button" onclick="deleteAlert('{{ project.name }}')">Projekt löschen</a>
    {% endif %}
{% endblock %}

{% block asideRight %}
    <ul>
        <li><b>Veröffentlicht:</b> {{ project.published|date("d.m.Y - H:i:s") }} Uhr</li>
        <li><b>Ersteller:</b> <a href="/profile?user={{ project.createdBy.username }}">{{ project.createdBy.username }}</a></li>
        {% if project.published|date("d.m.Y - H:i:s") != project.lastEdit|date("d.m.Y - H:i:s") %}
            <li><b>Letzte Änderung:</b> {{ project.lastEdit|date("d.m.Y - H:i:s") }} Uhr</li>
            <li><b>Letzte Änderung von:</b> <a href="/profile?user={{ project.lastEditBy.username }}">{{ project.lastEditBy.username }}</a></li>
        {% endif %}
        {% if project.parentProject.name != null %}
            <li><b>Übergeordnetes Projekt:</b> <a href="/project/detail?name={{ project.parentProject.name }}">{{ project.parentProject.name }}</a></li>
        {% endif %}
        <li><b>Privat:</b>
            {% if project.private == true %}
                Ja
            {% else %}
                Nein
            {% endif %}
        </li>
    </ul>
{% endblock %}