{% macro recursiveProject(project, wikiUser) %}
    {% import _self as self %}
    {% set authorizedIds = [] %}
    {% set authorizedNames = [] %}
    {% for user in project.authorized.__serialize %}
        {% set authorizedIds = authorizedIds|merge([user.id]) %}
        {% set authorizedNames = authorizedNames|merge([user.username]) %}
    {% endfor %}
    <li>
        <div class="project-link">
            <a class="{% if project.private and wikiUser.id not in authorizedIds %}privateProject{% endif %} noUnderline" href="/project/detail?id={{ project.id }}">
                {{ project.name }}
                {% if project.private and wikiUser.id not in authorizedIds %}
                    <span>Privates Projekt von
                        {% if authorizedNames|length == 1 %}
                            {{ authorizedNames[0] }}
                        {% else %}
                            {{ authorizedNames|join(", ", " und ") }}
                        {% endif %}
                    </span>
                {% endif %}
            </a>
            <i class="fa-solid fa-chevron-up"></i>
        </div>
        {% if project.children|length %}
            {% set children = project.children.__serialize %}
            {% set level = children|first.level %}
            <ul class="level{{ level }}{% if level > 3 %} hidden{% endif %}">
                {% for child in children %}
                    {{ self.recursiveProject(child, wikiUser) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% from _self import recursiveProject %}

{% extends "base.twig" %}

{% block title %}Projekte - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../assets/js/projectList.js" type="text/javascript"></script>
{% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        <h1>Projekte</h1>
        <p>Hier findest du alle Projekte und Subprojekte, in denen du nach Artikeln suchen kannst.</p><a class="button" href="/project/create">Neues Projekt anlegen</a>
        <ul class="level1">
        {% for project in mainProjects %}
                {{ recursiveProject(project, wikiUser) }}
        {% endfor %}
        </ul>
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}