{% extends "base.twig" %}

{% block title %}Suche - {% endblock %}

{% block mainContent %}
    {% if loggedIn %}
        <h1>Suche</h1>
        <p>Hier kannst du nach gewünschten Artikeln und Inhalten suchen.</p>
        <form id="search" class="search" method="post" action="/search/search">
            <label>
                <input type="search" name="search" placeholder="Wiki durchsuchen" required value="{{ query }}">
            </label>
            <label>
                <input type="submit" name="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </form>
        <label>
            <input form="search" class="button" type="submit" name="submit" value="Suchen">
        </label>
        {% if searched == true %}
            <div class="searchResults">
                {% if articles is empty %}
                    <p>Zu deiner Suchanfrage wurden keine Ergebnisse gefunden.</p>
                {% else %}
                    {% for article in articles.__serialize %}
                        <a href="/article?name={{ article.headline }}" class="article">
                            <h3>{{ article.headline }}</h3>
                            <p>Erstellt am {{ article.published|date("d.m.Y - H:i:s") }} von {{ article.createdBy.username }}</p>
                            {{ article.paragraphs.offsetGet(0).contents.offsetGet(0).text|raw }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {{ _self.notLoggedIn() }}
    {% endif %}
{% endblock %}