{% extends "base.twig" %}

{% block title %}Neues Projekt - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/selectSearch.js" type="text/javascript"></script>
    <script src="../../assets/js/projectForm.js" type="module"></script>
{% endblock %}

{% block mainContent %}
    <h1>Ein neues Projekt erstellen</h1>
    {% if loggedIn == true %}
        {% if projectError == true %}
            <h4 class="error">Bei der Erstellung des Projekts ist ein Fehler aufgetreten! Bitte vergewissere dich, dass alle nötigen Felder korrekt ausgefüllt wurden.</h4>
        {% endif %}
        <form method="post" action="/project/save" id="createProject" class="flex-50">
            <label>Name des Projekts*
                <input name="name" maxlength="200" required value="{{ name }}">
                <span class="error exists hide">Ein Projekt mit diesem Namen existiert bereits!</span>
                <span class="maxLength">200</span>
            </label>
            <label>Übergeordnetes Projekt
                <input class="searchselect" name="parentProject" list="projects" value="{{ parent }}">
                    <datalist>
                        <option value="">-</option>
                        {% for project in projects %}
                            <option value="{{ project.name }}">{{ project.name }}</option>
                        {% endfor %}
                    </datalist>
                <i class="fa-solid fa-chevron-down"></i>
                <span class="error notfound hide">Dieses Projekt existiert nicht!</span>
            </label>
            <label class="fullwidth">Kurze Beschreibung
                <textarea name="description" maxlength="1000">{{ desc }}</textarea>
                <span class="maxLength">1000</span>
            </label>
            <fieldset class="fullwidth">
                <label>
                    <input type="checkbox" name="private" value="private" {% if private %}checked{% endif %}>
                    Soll das Projekt privat sein? (Private Projekte und ihre Inhalte können nur von dir gesehen und bearbeitet werden.)
                </label>
            </fieldset>
        </form>
        <input class="button" type="submit" value="Projekt speichern" name="submit" form="createProject">
        <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
    {% else %}
        <h4 class="error">Du hast nicht die Befugnis ein neues Projekt zu erstellen!</h4>
    {% endif %}
{% endblock %}