{% extends "base.twig" %}

{% block title %}Registrieren - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/registerForm.js" type="module"></script>
{% endblock %}

{% block main_content %}
    <h1>Registrierung</h1>
    <p>Bitte registriere dich, um einen Account anzulegen und öffentliche Artikel bearbeiten zu können.</p>
    {% if register_error == true %}
    <h4 class="error">Bei Ihrer Registrierung ist ein Fehler aufgetreten. Überprüfen Sie Ihre Eingaben!</h4>
    {% endif %}
    <form method="post" id="register" action="/register/register">
        <fieldset>
            <label>Vorname
                <input name="firstname" value="{{ firstname }}">
            </label>
            <label>Nachname
                <input name="lastname" value="{{ lastname }}">
            </label>
            <label>E-Mail-Adresse*
                <input required type="email" name="email" value="{{ email }}">
                <span class="error exists hide">Diese E-Mail-Adresse wird bereits verwendet!</span>
            </label>
        </fieldset>
        <label>Benutzername* (Der Benutzername muss mindestens 4 Zeichen lang sein.)
            <input minlength="4" maxlength="50" required name="username" value="{{ username }}">
            <span class="error exists hide">Dieser Benutzername existiert bereits!</span>
            <span class="error length hide">Ihr Benutzername enthält weniger als 4 Zeichen!</span>
        </label>
        <label>Passwort* (Das Password muss mindestens 6 Zeichen lang sein.)
            <input minlength="6" required type="password" name="password">
            <span class="error length {% if password_error == true %}{% else %}hide{% endif %}">Ihr Password enthält weniger als 6 Zeichen!</span>
        </label>
        <input class="button" type="submit" name="submit" value="Registrieren">
    </form>
    <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
{% endblock %}